<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Домой</a>

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/films">Films</a></li>
            <li class="active"><a href="/actors">Actors</a></li>
            <li class="active"><a href="/users">Users</a></li>
            <li><a href="/signIn">Sign In</a></li>
            <li><a href="/signUp">Sign Up</a></li>
            <li><a href="/logout">Sign Out</a></li>
        </ul>
    </div>
</nav>