<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Film Profile Page</title>
    <#--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        table {
            width: 30%;
            border-collapse: collapse;
            text-align: center;
            margin: 30px auto 30px 1cm;
        }

        th,
        td {
            padding: 5px;
            border: 1px solid #666;
            margin-left: 20px;
        }

        input[type=file] {
            width: 30%;
            margin-left: 1cm;
        }

        input[type=submit] {
            width: 30%;
            margin-left: 1cm;
        }

        input[type=text] {
            width: 30%;
            padding: 12px 20px;
            margin-left: 1cm;
            box-sizing: border-box;
            border: 2px solid red;
            border-radius: 4px;
        }

        img {
            border: 1px solid #ddd;
            display: inline;
            margin-left: 1cm;
        }

        label {
            margin-left: 1cm;
        }

        h1, h2 {
            margin-left: 1cm;
        }
        a[href="/films/${film.id}/profile"] {
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-left: 1cm;
        }

        a[href="/films/${film.id}/profile"] {
            background-color: red;
        }
    </style>
</head>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/films">Movies</a></li>
                <li class="active"><a href="/">List of users</a></li>
                <li class="active"><a href="/signIn">Sign In</a></li>
                <li class="active"><a href="/signUp">Sign Up</a></li>
                <li class="active"><a href="/logout">Sign Out</a></li>
            </ul>
        </div>
    </nav>
</header>
<body>
<h1>Current film: ${film.getName()}</h1>

<a href="/films/${film.id}/profile">Go to ${film.getName()} film page</a>