<!doctype html>
<#import "spring.ftl" as spring/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><@spring.message 'signUp.title'/></title>

    <style>
        .error {
            color: blue;
        }
    </style>
</head>
<header>
    <#include "headers/for_headers_nav_bar.ftlh"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
</header>
<body>
<h1><@spring.message 'signUp.header'/></h1>
<br>
<a href="?lang=ru">RU</a>
<br>
<a href="?lang=en">EN</a>
<br>
<br>
<p><@spring.message 'signUp.description'/></p>
<br>
<form method="post" action="/signUp">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">

    <label for="firstName"><@spring.message 'signUp.form.label.firstName'/></label>
    <#assign firstNameCode>"<@spring.message 'signUp.form.input.firstName'/>"</#assign>
    <@spring.formInput 'signUpForm.firstName' "placeholder=${firstNameCode}"/>
    <@spring.showErrors "<br>" "error"/>
    <br>
    <br>
    <label for="lastName"><@spring.message 'signUp.form.label.lastName'/></label>
    <input id="lastName" type="text" name="lastName" placeholder="<@spring.message 'signUp.form.input.lastName'/>">
    <br>
    <br>
    <label for="email"><@spring.message 'signUp.form.label.email'/></label>
    <input id="email" type="email" name="email" placeholder="<@spring.message 'signUp.form.input.email'/>">
    <br>
    <br>
    <label for="password"><@spring.message 'signUp.form.label.password'/></label>
    <input id="password" type="text" name="password" placeholder="<@spring.message 'signUp.form.input.password'/>">
    <br>
    <br>
    <input type="submit" name="" value="<@spring.message 'signUp.form.input.submit.value'/>">
</form>
</body>
</html>